# TFIDF 
https://github.com/mayank408/TFIDF

In [1]:
import pandas as pd

In [2]:
docA = "The cat sat on my face"
docB = "The dog sat on my bed"

In [3]:
bowA = docA.split(" ")
bowB = docB.split(" ")

In [4]:
bowB

['The', 'dog', 'sat', 'on', 'my', 'bed']

In [5]:
wordSet = set(bowA).union(set(bowB))

In [8]:
wordSet

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

In [9]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [10]:
wordDictA

{'cat': 0, 'sat': 0, 'on': 0, 'The': 0, 'bed': 0, 'face': 0, 'my': 0, 'dog': 0}

In [11]:
for word in bowA:
    wordDictA[word]+=1
    
for word in bowB:
    wordDictB[word]+=1

In [12]:
wordDictA

{'cat': 1, 'sat': 1, 'on': 1, 'The': 1, 'bed': 0, 'face': 1, 'my': 1, 'dog': 0}

In [13]:
wordDictB

{'cat': 0, 'sat': 1, 'on': 1, 'The': 1, 'bed': 1, 'face': 0, 'my': 1, 'dog': 1}

In [14]:
pd.DataFrame([wordDictA, wordDictB])

   cat  sat  on  The  bed  face  my  dog
0    1    1   1    1    0     1   1    0
1    0    1   1    1    1     0   1    1

In [15]:
#Normalized TF
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [17]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [18]:
tfBowA

{'cat': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'on': 0.16666666666666666,
 'The': 0.16666666666666666,
 'bed': 0.0,
 'face': 0.16666666666666666,
 'my': 0.16666666666666666,
 'dog': 0.0}

In [19]:
tfBowB

{'cat': 0.0,
 'sat': 0.16666666666666666,
 'on': 0.16666666666666666,
 'The': 0.16666666666666666,
 'bed': 0.16666666666666666,
 'face': 0.0,
 'my': 0.16666666666666666,
 'dog': 0.16666666666666666}

In [20]:
pd.DataFrame([tfBowA, tfBowB])

,cat,sat,on,The,bed,face,my,dog
0,0.166667,0.166667,0.166667,0.166667,0.000000,0.166667,0.166667,0.000000
1,0.000000,0.166667,0.166667,0.166667,0.166667,0.000000,0.166667,0.166667

In [21]:
#Document Frequency

In [22]:
#Inverse Document Frequency
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [24]:
idfs = computeIDF([wordDictA, wordDictB])
idfs

{'cat': 0.3010299956639812,
 'sat': 0.0,
 'on': 0.0,
 'The': 0.0,
 'bed': 0.3010299956639812,
 'face': 0.3010299956639812,
 'my': 0.0,
 'dog': 0.3010299956639812}

In [28]:
# (Weighted) Term Frequency Inverse Document Frequency 

def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [29]:
tfidfwordDictA = computeTFIDF(wordDictA, idfs)
tfidfwordDictB = computeTFIDF(wordDictB, idfs)

In [30]:
pd.DataFrame([tfidfwordDictA, tfidfwordDictB])

       cat  sat   on  The      bed     face   my      dog
0  0.30103  0.0  0.0  0.0  0.00000  0.30103  0.0  0.00000
1  0.00000  0.0  0.0  0.0  0.30103  0.00000  0.0  0.30103

In [31]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [32]:
pd.DataFrame([tfidfBowA, tfidfBowB])

        cat  sat   on  The       bed      face   my       dog
0  0.050172  0.0  0.0  0.0  0.000000  0.050172  0.0  0.000000
1  0.000000  0.0  0.0  0.0  0.050172  0.000000  0.0  0.050172